{% extends 'base.html' %}

{% block main %}
    <!-- Display not-found error page -->
    <section>  
        <div class="container">
            <div class="col-md-6 offset-md-3 mt-3 mb-3mt-4 mb-4" style="color:rgb(135, 70, 43)">
                <h2 class="font-weight-bold">ERROR</h2>
            </div>
            <div class="col-md-6 offset-md-3 mt-3 mb-3mt-4 mb-4">
                <p style="color:rgb(135, 70, 43)">Sorry! We cannot find what you are looking for. </p>
            </div>
        </div>
    </section>
{% endblock %}