{% extends 'base.html' %}

{% block main %}
    <!-- Display internal server error page -->
    <section>  
        <div class="container">
            <div class="row co-12 d-flex mt-4 mb-4" style="color:rgb(135, 70, 43)">
                <h2 class="font-weight-bold">ERROR</h2>
            </div>
            <div div class="row co-12 d-flex mt-4 mb-4" style="color:rgb(135, 70, 43)">
                <p>Sorry! The server has encountered an error. Please try again in a few minutes.  </p>
            </div>
        </div>
    </section>
{% endblock %}